@font-face {
  font-family: "PT Sans Narrow";
  font-weight: normal;
  font-style: normal;
  font-display: swap;
  src: url("fonts/pt-sans-narrow.woff2"), url("fonts/pt-sans-narrow.woff");
}
@font-face {
  font-family: "PT Sans Narrow";
  font-weight: bold;
  font-style: normal;
  font-display: swap;
  src: url("fonts/pt-sans-narrow-bold.woff2") format("woff2"), url("fonts/pt-sans-narrow-bold.woff") format("woff");
}
img {
  max-width: 100%;
  height: 100%;
}
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: insert(100%);
          clip-path: insert(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}
.page {
  height: 100%;
  font-size: 18px;
  font-family: "PT Sans Narrow", "Arial", sans-serif;
  line-height: 27px;
}
.page__body {
  min-height: 100%;
  margin: 0;
  background-color: #2d2e2e;
  color: #000000;
}
.page-header {
  background-color: #282929;
  color: #ffffff;
}
.main-nav__list {
  height: 3vh;
  margin: 0;
  padding: 0 64px;
  list-style: none;
}
.main-nav__list a:hover,
.main-nav__list a:focus {
  color: #E0A80B;
}
.main-nav__list a {
  color: #A4A5A7;
}
@media (min-width: 768px) and (orientation: landscape) {
  .main-nav__wrapper {
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
  }
  .main-nav__toggle {
    display: none;
  }
}
@media (min-width: 1200px) {
  .main-nav__wrapper {
    width: 100%;
    margin: 0 auto;
  }
  .nav-list {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}
.foto-info {
  background-color: #2d2e2e;
  color: #A4A5A7;
  height: 97vh;
}
@media (min-width: 768px) and (orientation: landscape) {
  .foto-info {
    padding: 0 64px;
  }
}
@media (min-width: 1200px) {
  .foto-info {
    max-width: 100%;
    padding: 0 auto;
    display: grid;
    grid-template-columns: 1fr 2fr;
    align-items: center;
  }
}
.foto-info__description {
  font-size: 200%;
}
.foto-info__foto-location {
  display: block;
  margin: auto;
  padding: 15% 0 15% 0;
  justify-content: center;
}
.foto-info__foto-location img {
  display: block;
  margin: auto;
  width: 20rem;
}
@media (min-width: 1200px) {
  .foto-info__foto-location img {
    width: 14rem;
  }
}
@media (min-width: 1200px) {
  .foto-info__name-social {
    display: flex;
    justify-content: space-between;
  }
}
.foto-info__name-list {
  text-align: center;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
@media (min-width: 1200px) {
  .foto-info__name-list {
    text-align: start;
  }
}
.name__name {
  font-family: Courier New, sans-serif;
  font-size: 325%;
  line-height: 50%;
  font-weight: 400;
  color: #A4A5A7;
  margin: 0;
  padding: 0;
}
.name__second-name {
  color: #E0A80B;
  font-size: 350%;
  line-height: 100%;
  font-weight: 600;
  text-transform: uppercase;
  margin: 0;
  padding: 0;
}
.name__direction {
  margin: 20px 0 5px 0;
}
.social-list {
  display: flex;
  justify-content: center;
  align-items: flex-end;
  margin: 0;
  padding: 60px 0 0 0;
  list-style: none;
}
.social-list__item {
  margin: 0 0 0 5px;
}
.line {
  display: flex;
  margin: 0 60px;
  margin-top: 30px;
}
.line::before {
  content: "";
  width: 100%;
  height: 2px;
  background-color: #3f4040;
}
.contact-list a {
  color: #A4A5A7;
}
.contact-list {
  margin: 0;
  padding: 0;
  list-style: none;
}
@media (min-width: 768px) and (orientation: landscape) {
  .contact-list {
    display: flex;
    justify-content: space-between;
  }
}
.contact-list__item {
  font-size: 85%;
  text-align: center;
  margin: 10% 0 0 0;
  padding: 0;
}
@media (min-width: 768px) and (orientation: landscape) {
  .contact-list__item {
    width: 210px;
  }
}
@media (min-width: 1200px) and (orientation: landscape) {
  .contact-list__item {
    text-align: start;
  }
}
.contact-list__item h3 {
  margin: 0 0 3% 0;
  padding: 0;
}

/*# sourceMappingURL=style.css.map */
