@font-face {
  font-family: "PT Sans Narrow";
  font-weight: normal;
  font-style: normal;
  font-display: swap;
  src: url("fonts/pt-sans-narrow.woff2"), url("fonts/pt-sans-narrow.woff");
}
@font-face {
  font-family: "PT Sans Narrow";
  font-weight: bold;
  font-style: normal;
  font-display: swap;
  src: url("fonts/pt-sans-narrow-bold.woff2") format("woff2"), url("fonts/pt-sans-narrow-bold.woff") format("woff");
}
img {
  max-width: 100%;
  height: auto;
}
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: insert(100%);
          clip-path: insert(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}
.page {
  height: 100%;
  font-size: 18px;
  font-family: "PT Sans Narrow", "Arial", sans-serif;
  line-height: 27px;
}
.page__body {
  min-height: 100%;
  margin: 0;
  background-color: #2d2e2e;
  color: #000000;
}
.page-header {
  display: flex;
  flex-direction: column;
  background-color: #282929;
  color: #ffffff;
}
.main-nav__toggle {
  outline: 5px solid rgba(255, 0, 0, 0.8);
  outline-offset: -5px;
}
.main-nav__wrapper {
  outline: 5px solid rgba(0, 255, 0, 0.8);
  outline-offset: -5px;
}
.main-nav__list {
  margin: 0;
  padding: 0;
  list-style: none;
}
.main-nav__list a {
  color: #ffffff;
}
@media (min-device-width: 768px) and (orientation: landscape) {
  .main-nav__wrapper {
    display: flex;
    justify-content: space-between;
    margin: 0 64px;
  }
  .main-nav__toggle {
    display: none;
  }
}
@media (min-device-width: 1200px) {
  .main-nav__wrapper {
    display: flex;
    justify-content: space-between;
    width: 1200px;
    margin: 0 auto;
  }
}
.foto-info {
  background-color: #2d2e2e;
  color: #ffffff;
}
@media (min-device-width: 768px) and (orientation: landscape) {
  .foto-info {
    padding: 0 64px;
  }
}
@media (min-device-width: 1200px) {
  .foto-info {
    max-width: 1200px;
    padding: 0 120px;
    margin: 0 auto;
    display: grid;
    grid-template-columns: 1fr 2fr;
  }
}
.foto-info__foto-location {
  outline: 5px solid rgba(255, 255, 0, 0.8);
  outline-offset: -5px;
  display: block;
  margin: auto;
  padding: 0;
}
.foto-info__name-list {
  outline: 5px solid rgba(255, 255, 0, 0.8);
  outline-offset: -5px;
  text-align: center;
  margin: 0;
  padding: 0;
}
@media (min-device-width: 1200px) {
  .foto-info__name-list {
    text-align: start;
  }
}
.foto-info__social-list {
  outline: 5px solid rgba(255, 255, 0, 0.8);
  outline-offset: -5px;
  display: flex;
  justify-content: center;
  margin: 0;
  padding: 0;
  list-style: none;
}
.social-list__item {
  margin: 0 5px;
}
.foto-info__line {
  outline: 5px solid rgba(0, 255, 0, 0.8);
  outline-offset: -5px;
  margin: 0;
  padding: 0;
}
.foto-info__contact-list {
  outline: 5px solid rgba(255, 255, 0, 0.8);
  outline-offset: -5px;
  margin: 0;
  padding: 0;
  list-style: none;
}
@media (min-device-width: 768px) and (orientation: landscape) {
  .foto-info__contact-list {
    display: flex;
    justify-content: space-between;
  }
}
.contact-list__item {
  text-align: center;
}
@media (min-device-width: 768px) and (orientation: landscape) {
  .contact-list__item {
    text-align: start;
  }
}

/*# sourceMappingURL=style.css.map */
