// @import("global/varibles.less");

// Colors

@darkgrey: #282929;
@lightgrey: #2d2e2e;

// Viewports

@tablet-width: 768px;
@desktop-width: 1400px;
@mobile-width-only: 767px;

// @import("global/fonts.less");

@font-face {
	font-weight: normal;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-weight: bold;
	font-style: normal;
	font-display: swap;
}

// @import("global/global.less");

img {
	max-width: 100%;
	height: 100%;
}

.visually-hidden {
	position: absolute;
	width: 1px;
	height: 1px;
	margin: -1px;
	border: 0;
	padding: 0;
	white-space: nowrap;
	clip-path: insert(100%);
	clip: rect(0 0 0 0);
	overflow: hidden;
}

// @import("blocks/page.less");

.page {
	height: 100%;
	font-size: 18px;
	font-family: "PT Sans Narrow", "Arial", sans-serif;
	line-height: 27px;
}

.page__body {	
	min-height: 100%;
	margin: 0;
	background-color: @lightgrey;
	color: #000000;
}

// @import("blocks/page-header.less");
	
.page-header {
	background-color: @darkgrey;
	color: #ffffff;
}

// @import("blocks/main-nav.less");


.main-nav__list {
	height: 5vh;
	
	margin: 0;
	padding: 0 64px;
	list-style: none;
}

.nav-list__item--active a:hover,
.nav-list__item--active a:focus {
	color: #E0A80B;
}

.main-nav__list a {
	color: #A4A5A7;
}

@media(min-device-width: @tablet-width) {
	.main-nav__wrapper {
		display: flex;
		justify-content: space-between;
		margin: 0 auto;

	}
	.main-nav__toggle {
		display: none;
	}
}

@media(min-device-width: @desktop-width) {
	.main-nav__wrapper {
		width: 100%;
		margin: 0 auto;
	}
	.nav-list {
		
		width: 100%;
		display: flex;
		justify-content: space-between;
		align-items: center;
		font-size: 85%;
	}
}

// @import("blocks/foto-info.less");

.foto-info {
	display: block;	
	justify-content: flex-end;
	background-color: @lightgrey;
	color: #A4A5A7;
	height: 95vh;
	margin: 0 50px;
		
	@media(min-device-width: @tablet-width) {
		padding: 0 64px;
	}
	@media(min-device-width: @desktop-width) {
		max-width: 100%;
		padding: 0;
		margin: 0;

		display: grid;
		flex-direction: column;	
		grid-template-columns: 31% 1fr;
		justify-content: center;
	}
}

.foto-info__foto-location {
	display: block;
	padding: 10% 0 10% 0;
	justify-content: center;

	@media(min-device-width: @desktop-width) {
		padding: 40% 0 12% 0;
		background-color: @darkgrey;
	}	
}

.foto-info__foto-location img {
	display: flex;
	margin: auto;
	width: 20rem;
	
	@media(min-device-width: @desktop-width) {
		width: 14rem;
	}
}

.foto-info__description {
	font-size: 200%;
	
	@media(min-device-width: @tablet-width) {
		font-size: 180%;
	}
	@media(min-device-width: @desktop-width) {
		font-size: 100%;
		padding: 250px 0 0 60px;
		width: 890px;
	}
}

.foto-info__name-social {
	@media(min-device-width: @desktop-width) {
		display: flex;
		justify-content: space-between;
	}
}

.foto-info__name-list {
	text-align: center;
	margin: 0;
	padding: 0;
	display: flex;
	flex-direction: column;
	justify-content: center;

	@media(min-device-width: @desktop-width) {
		text-align: start;
	}
}

.name__name {
	font-family: Courier New, sans-serif;
	font-size: 325%;
	line-height: 50%;
	font-weight: 400;
	color: #A4A5A7;
	margin: 0;
	padding: 0;
}

.name__second-name {
	color: #E0A80B;
	font-size: 350%;
	line-height: 100%;
	font-weight: 600;
	text-transform: uppercase;
	margin: 0;
	padding: 0;
}

.name__direction {
	margin: 20px 0 5px 0;
}

.social-list {
	display: flex;
	justify-content: center;
	align-items: flex-end;
	margin: 0;
	padding: 60px 0 0 0;
	list-style: none;	
}
  
.social-list img{ 
	display: block;
	width: 100px;
	height: auto;
	
	@media(min-device-width: @desktop-width) {
		width: 50px;
	}
}

/* Кнопки - иконки соцсетей */
.social-list__item {
	font: inherit;
	text-align: center;
	color: #ffffff;
	vertical-align: middle;
	background-color: #2D2E2E;
	border-color: #A4A5A7;
	opacity: 0.3;
}

.social-list__item--active:hover,
.social-list__item--active:focus,
.social-list__item--active:active {
	color: #E0A80B;
	opacity: 1;	
}

.social-list__item {
	margin: 0 0 0 5px;
}

/* Разделительная линия */
.line {
	display: flex;
	margin: 5% 0 10% 0;
	
	@media(min-device-width: @desktop-width) {
		margin: 15% 0 3% 0;
	}
}

.line::before {
	content: "";
	
	width: 100%;
	height: 2px;
	
	background-color: #3f4040;
}

/* Контактные данные */
.contact-list a {
	color: #A4A5A7;
}

.contact-list {
	margin: 0;
	padding: 0;
	list-style: none;
	display: block;
	
	outline: 5px solid rgba(0, 255, 0, .8);
	outline-offset: -5px;
}

.contact-list {	
	@media(min-device-width: @mobile-width-only) {	
		display: block;
		justify-content: center;
	}
	
	@media(min-device-width: @tablet-width) {	
		display: flex;
		justify-content: space-around;
	}
	@media(min-device-width: @desktop-width) {	
		display: flex;
		justify-content: space-between;
	}
}

.contact-list__item {

	font-size: 85%;
	text-align: center;
	margin: 10% 0 0 0;
	padding: 0;
	
	@media(min-device-width: @tablet-width) {
		
		margin: 0;
		width: 210px;
		font-size: 50%
	}
	
	@media(min-device-width: @desktop-width) {
		text-align: start;
		margin: 0;
		width: 170px;
		font-size: 85%
	}
	outline: 5px solid rgba(255, 255, 0, .8);
	outline-offset: -5px;
}

.contact-list__item--active a:hover,
.contact-list__item--active a:focus,
.contact-list__item--active a:active {
	color: #E0A80B;
}
